 svg {
     background-color: white;
     padding: 1px
 }
 
 div {
     font-size: 25px;
     margin-top: 2%;
     text-align: center;
     margin-left: 5%;
     margin-right: 9%;
     margin-bottom: 1%;
     color: green;
 }
 
 body {
     background-color: yellow;
     display: block;
     margin-left: 28%;
     margin-right: 30%;
     margin-top: 3%;
     height: 70%;
 }
 
 #dop {
     color: purple;
     text-align: center;
     margin-left: 10%;
     margin-right: 5%;
 }
 
 #non {
     color: blue;
 }